<div class="vh-100">
  <div class="container m-0 p-0"><img class="img-frame" src="assets/images/frame.png"></div>
  <div class="col-6 col-md-2 mt-2 ms-3">
    <a class="buttons position-items versailles" href="/"> < VOLTAR </a>
  </div>

  <div class="container mt-5">
    <div class="row mt-5 justify-content-between info-text">
      <div class="col-12 col-lg-6 col-xxl-5">
        <h2 class="apple-font blue-color names mt-md-5">
          Onde ficar</h2>
        <p class="versailles blue-color">IGREJA DA NOSSA SENHORA DA PIEDADE  <br> LINK <br> ALENQUER</p>
        <p class="versailles blue-color">IGREJA DA NOSSA SENHORA DA PIEDADE  <br> LINK <br> ALENQUER</p>

      </div>
      <div class="col-12 col-lg-6 col-xxl-5">
        <h2 class="apple-font blue-color names mt-md-5">
          Onde ficar</h2>
        <p class="versailles blue-color">IGREJA DA NOSSA SENHORA DA PIEDADE <br> LINK <br> ALENQUER</p>
        <p class="versailles blue-color">IGREJA DA NOSSA SENHORA DA PIEDADE  <br> LINK <br> ALENQUER</p>

      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 offset-md-3 col-md-7 text-center">
        <h2 class="apple-font blue-color names mt-md-5">O melhor presente</h2>
        <p class="versailles blue-color">O MELHOR PRESENTE É PODERMOS PARTILHAR CONVOSO ESTE DIA! NO ENTANTO, PARA TODOS OS QUE QUEIRAM,
          PODEM CONTRIBUIR PARA A NOSSA LUA DE MEL.<br>
          IBAN: XXXXXXXXX</p>
      </div>
      <div class="col-2">
        <img class="bouquet-img" src="assets/images/bouquet.png">
      </div>

    </div>
  </div>


  <div class="container m-0 p-0"><img class="img-frame-reverse" src="assets/images/reverse-frame.png"></div>
</div>
