<!--<div class="background-container">
  <img src="assets/images/ribbon.jpg" alt="ribbon" class="ribbon position-items">
  <h1 class="apple-font position-items ">Mafalda e João</h1>
  <p class="courier-prime-bold date position-items "> 05.09.2025 </p>
  <p class="spectral count-us position-items"> ADORÁVAMOS CONTAR CONVOSCO <br> PARA O NOSSO CASAMENTO </p>
  <button class="buttons position-items"> O DIA DO CASAMENTO</button>
  <button class="buttons position-items"> CONFIRMAR</button>
  <button class="buttons position-items"> COMO CHEGAR</button>
</div>-->

