


.names {
  text-align: center;
  font-size: 4rem;
}


.img-frame {
  width: 97vw;
}
@media(max-width: 530px) {
  .img-frame-reverse {
    width: 96vw !important;
  }

  .img-frame {
    width: 96vw !important;
  }
}

@media(max-width: 772px) {
  .img-frame-reverse {
    width: 97vw !important;
  }

  .img-frame {
    width: 97vw !important;
  }


  .names {
    font-size: 2.2rem !important;
  }
}



@media(max-width: 1200px) {
  .info-text p{
    font-size: 1.2rem !important;
  }
  .names {
    font-size: 2.8rem !important;
  }
}

@media(min-width: 992px){
  .img-frame-reverse{
    position: absolute;
    bottom: 0;
  }
}



@media (min-width: 1200px) {
  .img-frame-reverse {
    width: 99vw !important;
    position: relative;
  }

  .img-frame {
    width: 99vw !important;
  }

}

.img-frame-reverse {
  width: 97vw;

}

.info-text p {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem
}

.buttons {
  background-color: #46549F;
  color: white;
  letter-spacing: 1.5px;
  font-size: 0.8rem;
  padding: 0.8rem;
  width: 100%;
  border: none;
  text-decoration: none;
}


.form-confirm input,
.form-confirm textarea{
  border: none;
  border-bottom: 2px solid #46549F;
  outline: none;

}
