
@font-face {
  font-family: 'versailles';
  src: url('/assets/font/versailles.ttf') format('truetype');
}

.apple-font {
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
}

.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}

.versailles {
  font-family: "versailles", serif;
  font-weight: 200;
  font-style: normal;
}



.blue-color {
  color: #46549F;
}
